[Unit]
Description=Node Exporter (Port 9101)
Wants=network-online.target
After=network-online.target

[Service]
User=prometheus
Group=prometheus
Type=simple
ExecStart=/opt/node_exporter/node_exporter --web.listen-address=:9101

[Install]
WantedBy=multi-user.target
